body{
background-image: url("ginger stag - Copy.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
color: black;
font-size: 87.5%;
font-family: Convergence;
line-height: 1.5;
text-align: left;
}
.body{margin: 0 auto;
width: 70%;
clear: both;}

.langbar {height: 36px; background-color: transparent; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
.langbar ul li{margin: 0 auto; list-style: none; float: left; display: inline;color: white; font-size: 20px;}

.mainheader nav {height: 40px; background-image: url(08-Wood.jpg);background-position: left center; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
.mainheader ul li{margin: 0 auto; list-style: none; float: left; display: inline;color: white; font-size: 20px; text-align: center; width: 20%;}
.mainheader a{text-decoration: none; color: white; line-height: 40px; display: block;}
.mainheader nav ul li a:hover{color: 40F140; background-color: 175917;}

.maincontent {line-height: 25px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.content{width: 60%; float: left;  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.content img{width: 120px; height: 100px;}
.topcontent {background-color: #66ff99; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 3% 5%; margin-top: 2%;}
.botomcontent {background-color: #66ff99; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 3% 5%; margin-top: 2%;}
.postinfo{font-style: italic; color: gray; font-size: 85%;}
.topsidebar{width: 31%; background-color: #66ff99; float: left; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 1.6% 0 2% 3%;padding: 1% 3%;}
.topsidebar img{width: 120px; height: 100px;}
.midlesidebar{width: 31%; background-color: #66ff99; float: left; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 2% 0 2% 3%;padding: 1% 3%;}
.botomsidebar{width: 25%; background-color: #66ff99; float: left; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 2% 0 2% 3%;padding: 1% 3%;}
.mainfooter{width: 100%; height: 40px; float: left; background-image: url(08-Wood.jpg); background-position: left center;; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-top: 2%; margin-bottom:2%;}
.mainfooter p{width:94%; margin: 0 auto; padding-top: 1%; color: white;}